
footer {
    display: flex;
    text-align: center;
    flex-direction: column;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 10px;
    margin-top: 20px;
	
}

/* social */
img.social-icon {
    width: 2%;
    align-items: center;
    margin: 0 20px;
    
  
}
